[submodule "src/modules/grimoire"]
	path = src/modules/grimoire
	url = https://github.com/bobbyhiddn/Magi.Spells.git
	branch = main

[submodule "src/modules/pages"]
	path = src/modules/pages
	url = https://github.com/bobbyhiddn/Magi.Library.git
	branch = main
